.create-password {
    background-color: #EAEAEA;   
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $helv;

    &__area {        
        &__header {
            text-align: center;
            padding: 26px 0;
            margin-bottom: 24px;
        }

        &__content {
            background-color: #fff;
            color: #000;
            padding: 40px;

            &__login {
                &--callback {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    text-decoration: none;
                    color: #000;
                    font-size: 1.4em;
                    font-weight: 400;
                    margin-bottom: 0;
                }

                &--heading {
                    margin-bottom: 8px;
                    color: #000;
                    font-size: 4em;
                    line-height: normal;
                    font-weight: 700;
                    font-style: italic;
                }

                &--text {
                    color: #000;
                    font-size: 1.6em;
                    font-weight: 300;
                    line-height: 26px;
                    margin-bottom: 64px;
                }

                form {
                    .form-box {
                        margin-bottom: 24px;
                        position: relative;
    
                        label {
                            color: var(--Accent-Accent, #010A16);
                            font-size: 1.4em;
                            font-weight: 500;
                            line-height: normal;
                            margin-bottom: 8px;
                        }
                        
                        input {
                            font-size: 1.4em;
                            padding: 14px 117px 14px 15px;
                            border: 1px solid #CCCED0;
                            font-weight: 400;
                            border-radius: 0;
                            color: #000;
                        }
                    }
    
                    .form-box:last-child {
                        margin-bottom: 0;
                    }
    
                    svg {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                    }
                }

                &__btn {
                    margin: 40px 0 64px;
                    
                    .login-btn {
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 20px 40px;
                        background: var(--Secondary-Secondary, rgba(33, 33, 33, 0.05));
                        font-size: 1.6em;
                        color: var(--accent-accent-10, rgba(3, 19, 39, 0.10));
                        font-weight: 500;
                        width: 100%;
                        border-radius: 0;
                    }

                    .accept-btn {
                        background: #E1254B;
                        color: #fff;
                        font-size: 1.6em;
                        line-height: normal;
                        font-weight: 500;
                        transition: all .3s;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 20px 40px;
                        width: 100%;
                        border-radius: 0;
                    }

                    .accept-btn:hover {
                        background-color: transparent;
                        border: 1px solid #E1254B;
                        color: #E1254B;
                    }
                }

            }
            
            &__powered {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;

                &--text {
                    color: rgba(0, 0, 0, 0.80);
                    font-size: 0.9em;
                    font-weight: 500;
                    line-height: 16px;
                    margin: 0 4px 0 0;
                }
            }
        }
    }
}